/* Basic Reset */
* {
    margin: 0;
    padding: 0;

}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Header Styling */
header {
    background: #333;
    color: #fff;
    padding: 0.5rem 0;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1;

}
header nav{
    background-color: #606060;
    border: #000000 2px solid;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5px;
    border-radius: 25px;
}

header nav h1 {
    display: flex;
    justify-content: center;
    list-style: none;  
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 1rem;
    padding-left: 10px;
    padding-right: 10px;
    background: #000000;
    border-radius: 20px;
    margin-bottom: 5px;
    
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    
}


header nav ul li:hover {
    background: #2b2a2a;
}

/* Main Section Styling */
#mainpage {
    display: block;
    top: 60px;
    height: calc(100vh - 150px);
    width: 100%;
    position: relative;
    margin: 2rem auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;

}

/* About Section */
#about {
    display: block;
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;

}
#about p {
    font-weight: 600;
    background-color: beige;
    border-radius: 25px;
    padding: 20px;
}

#about img {
    max-width: 150px;
    border-radius: 50%;
    padding: 1rem;
    display: block;
    margin: 0 auto;
}

#about h1,
#projects h1,
#contact h1 {
    background-color: #ccc;
    text-align: center;
    margin-bottom: 0.25rem;
    position: sticky;
    border-radius: 100px;
    top: 0;
}

/* Projects Section */
#projects {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    text-align: center;
}
#code{
    background-color:lightpink;
    border-radius: 25px;
    padding: 20px;
    margin-top: 10px;
}

.project {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    justify-content: flex-start;
}

.project:last-child {
    border: none;
}

.project h2 {
    margin-bottom: 0.5rem;
    border-radius: 25px;
    padding: 5px;
    background-color:rgb(235, 225, 225);
}
.project h3 {
    margin: 0.5rem;
    border-radius: 25px;
    padding: 5px;
    background-color:rgb(235, 225, 225);
}

.project a {
    display: flex;
    justify-content: center;
    color: #000000;
    text-decoration: none;
    text-align: center;
}
.project ul {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2rem;
    justify-content: center;   
    text-align:left;
    font-size: 17px;    
    padding: 20px;
    font-weight: 600;
}
.project p {
    
    justify-content: center;   
    text-align:left;
    background-color: beige;
    border-radius: 25px;
    padding: 20px;
}
.project img {
    width: 200px;
    height: 200px;
}

.project a:hover {
    text-decoration: underline;
}

/* Contact Section */
#contact {
    display: block;
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

#contact ul {
    list-style: none;
    text-align: center;
}

#contact ul li {
    margin: 0.5rem 0;
    background-color:lightskyblue;
    border-radius: 25px;
    padding: 10px;
}

#contact ul li a {
    color: #000000;
    text-decoration: none;
}

#contact ul li a:hover {
    text-decoration: underline;
}

/* Footer Styling */
footer {
    display: block;
    position: fixed;
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    bottom: 0px;
    width: 100%;
}